<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column is-one-quarter has-text-centered-mobile">
                <h1 class="is-uppercase has-text-weight-bold">Company</h1>
                <ul>
                    {% for item in site.data.footer.company_links %}
                    <li>
                        <a href="{{ item.link }}">{{ item.text }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="column is-one-quarter has-text-centered-mobile">
                <h1 class="is-uppercase has-text-weight-bold">Legal</h1>
                <ul>
                    {% for item in site.data.footer.legal_links %}
                    <li>
                        <a href="{{ item.link }}">{{ item.text }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="column is-offset-one-quarter has-text-centered-mobile">
                <h1 class="is-uppercase has-text-weight-bold">Follow Us</h1>
                <ul>
                    {% for item in site.data.footer.follow_us %}
                    <li class="is-inline m-r-md">
                        <a href="{{ item.link }}" target="_blank"><i class="{{ item.icon }}"></i></a>
                    </li>
                    {% endfor %}
                </ul>

                <section class="m-t-lg">
                    <h1 class="is-uppercase has-text-weight-bold">Download</h1>
                    <div class="columns">
                        <a
                            href='{{ site.play_store_url }}'><img
                                alt='Get it on Google Play'
                                src='/assets/img/play_badge.png'
                                style="max-height:5em;margin-top:8px;margin-right:8px" /></a>
                        <a href="{{ site.app_store_url }}"><img alt='Download on App Store' src='/assets/img/download-on-app-store.png'
                                style="max-height:5em;margin-top:8px" /></a>
                    </div>
                    <div>
                        <a href="{{ site.apk_file_url }}">Download Android APK</a>
                    </div>
            </div>
            </section>
        </div>
    </div>
    </div>
</footer>