
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- styles -->
<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans:400,700|IBM+Plex+Sans+Condensed&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link rel="stylesheet" href="/assets/css/styles.css">

<!-- favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ef8c00">
<meta name="msapplication-TileColor" content="#000000">
<meta name="theme-color" content="#ffffff">

<!-- meta data -->

<title>Roostoo{% if page.title %} &middot; {{ page.title }}{% endif %}</title>
<meta name="description" content="Roostoo unleashes real-time blockchain, cryptocurrency, and market data insights to benefit mass users of digital assets. With a free mobile app that offers a clean user experience, we are bringing intuitive, convenient and actionable information transparently to every downloader.">
<meta name="keywords" content="Blockchain, Cryptocurrencies, Arbitrage, Data Analytics, Mobile, Android, iOS, Bitcoin, Tokens, Digital Assets">