<style>

    .launchButton {
      background-color: #FEDB29;
      border: none;
      color: #FF873C;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 12px;
      padding-right: 12px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 1.0rem;
      font-weight: bold;
      margin-left: 18px;
      border-radius: 10px;
    }

    a.navbar-item {
        font-size: 1.125rem;
    }
    a.launchButton:hover {
        color: white;;
    }

    .navbar-item img {
        max-height: 2.5rem;
    }
</style>

<div class="container">
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="{{ site.icon }}" width="200" height="40">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <div class="buttons">
                <a class="navbar-item" href="/about" target="_blank" rel="noopener noreferrer">
                    About
                </a>

            <a class="navbar-item" href="https://medium.com/roostoo" target="_blank" rel="noopener noreferrer">
                Blog
            </a>

            <a class="navbar-item" href="/education" target="_blank" rel="noopener noreferrer">
                Education
            </a>

            <a class="navbar-item" href="/rsto" target="_blank" rel="noopener noreferrer">
                RSTO
            </a>
            <a class="launchButton" href="https://app.roostoo.com" target="_blank" rel="noopener noreferrer">
                <div>
                    Launch App
                </div>
            </a>
            <!-- <a class="navbar-item" href="/assets/files/roostoo-user-manual.pdf">
                User Manual
            </a> -->
        </div>
    </div>
</nav>
</div>

<script>
    $(document).ready(function () {

        // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function () {

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");

        });
    });
</script>
