---
---

@import "variables";
$family-sans-serif: 'IBM Plex Sans', "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-monospace: 'IBM Plex Mono';
$text: #000000;
$primary: $color_primary;
$link: $color_accent;
$link-hover-border: $color_accent;
$link-focus-border: $color_accent;
$navbar-background-color: #ffffff00;
$footer-background-color: #fefefe;

@import "utilities/_all";
@import "base/_all";
@import "elements/_all";
@import "components/_all";
@import "grid/_all";
@import "layout/_all";
@import "spacing";

@import "roostoo";