---
layout: base
---

{% assign about = site.data.about %}

<section class="section">
    <div class="container">
        <section class="section columns">
            <div class="column is-half is-offset-one-quarter has-text-centered">
                <h1 class="title is-3">{{ about.slogan }}</h1>
            </div>
        </section>
        {{ content }}

        <section >
            {% for item in about.info %}
                <div class="columns">
                    <div class="column is-one-quarter">
                        <h2 class="title is-5 has-text-weight-bold">
                            {{ item.title }}
                        </h2>
                    </div>
                    <div class="column">
                        <p>
                            {{ item.description | markdownify }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </section>

        <section>
            <h2 class="title is-5 has-text-weight-bold has-text-centered m-xl">Our Customers</h2>
            <div class="columns is-multiline is-mobile">
                {% for item in about.customers %}
                <div class="column is-half-mobile">
                    <figure class="image is-3by2">
                        <img class="p-lg" src="{{ item.image }}">
                    </figure>
                    <h3 class="has-text-weight-bold">
                        {{ item.name }}
                    </h3>
                    <p>
                        {{ item.description }}
                    </p>
                </div>
                {% endfor %}
            </div>
        </section>
        
    </div>
</section>