---
layout: base
---

<style>
    #home-corner-background {
        background-image: url(/assets/img/home-corner-background.svg);
        float: right;
        max-width: 40%;
        max-height: 100%;
        background-position: top right;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        position: relative;
        top: 0;
        margin-top: -128px;
    }
</style>

<div id="home-corner-background" class="bg-upper-corner">
    <div class="wrapper">
        <img src="/assets/img/home-corner-background.svg" style="visibility: hidden;" />
    </div>
</div>

<section class="section is-medium">
    <div class="container">
        <h1 class="title is-spaced is-1">
            Crypto Secrets. </br>
            On Your Fingertips.
        </h1>
        <h2 class="subtitle">
            Real-time <span class="has-text-link">Crypto Insight</span> Provider
        </h2>

        <a class="button is-primary is-rounded has-text-black">
            SIGN UP TO GET FREE RELEASED BETA
        </a>
    </div>
</section>