---
layout: base
---

{% assign mobile = site.data.mobile-app %}

{% if page.demo == true %}

<style>
    #bg-bottom-2c {
        background-image: url(/assets/img/bg-bottom-2c.svg);
        float: bottom;
        width: 100%;
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        position: absolute;
        bottom: 0;
    }

    .slick-dots {
        bottom: -100px;
    }
</style>

<div id="bg-bottom-2c">
    <img src="/assets/img/bg-bottom-2c.svg" style="visibility: hidden;" />
</div>
{% endif %}

<section class="section">
    <div class="container">

        <section class="section">
            <h1 class="title is-1">Roostoo Mobile App</h1>
            <div class="columns">
                <a
                    href='https://play.google.com/store/apps/details?id=com.roostoo.roostoo&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img
                        alt='Get it on Google Play'
                        src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'
                        style="max-height:6em;margin-left:-2%;margin-right:-2%" /></a>
            </div>
        </section>

        <section class="section">
            <div class="columns is-mobile is-multiline">
                {% for item in mobile.features %}
                <div class="column is-mobile is-half">
                    <div class="columns">
                        <div class="column is-narrow">
                            <figure class="image is-96x96">
                                <img src="{{ item.icon }}">
                            </figure>
                        </div>
                        <div class="column">
                            <h3 class="has-text-weight-bold">
                                {{ item.title }}
                            </h3>
                            <p>
                                {{ item.description }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>

        {% if page.demo == true %}
        <!-- Indicators -->
        <section class="section">
            <div class="columns">
                <div class="column is-narrow">
                    <div id="demo">
                        <div class="smartphone">
                            <div class="phone-content">
                                <div class="slideshow-container">
                                    <!-- Full-width images with number and caption text -->
                                    <div class="">
                                        <img src="/assets/img/screenshot-home-arbitrage.jpeg" style="width:100%">
                                    </div>

                                    <div class="">
                                        <img src="/assets/img/screenshot-crypto-arbitrage.jpeg" style="width:100%">
                                    </div>

                                    <div class="mySlides fade">
                                        <img src="/assets/img/screenshot-arbitrage-detail.jpeg" style="width:100%">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>


        {% endif %}
    </div>
</section>
<script type="text/javascript" src="/assets/css/slick/slick.min.js"></script>
<script>
    $(document).ready(function () {
        $('.slideshow-container').slick({
            dots: true,
            infinite: true,
            autoplay: true,
            speed: 100,
            fade: true,
            cssEase: 'linear',
            arrows: false
        });
    });
</script>